{% extends 'layout.html' %} <!-- identifica que é um filho-->

{% block head %}
    <title> Lista de Conceitos </title>
{% endblock %}

{% block body %}
    <!--filtro das letras-->
    <div class="container py-5">
            <div class="d-flex flex-wrap justify-content-center gap-2 mb-4">
                <a href="{{ url_for('listar_conceitos') }}" 
                   class="btn btn-lg {{ 'btn-primary' if not letra_ativa else 'btn-outline-primary' }}">Todos</a>

                {% for letra in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
                    <a href="{{ url_for('listar_conceitos', letra=letra) }}" 
                       class="btn btn-lg {{ 'btn-primary' if letra_ativa == letra else 'btn-outline-primary' }}">
                       {{ letra }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--lista dos conceitos-->
    <div class="container" style="max-width: 1100px;">
        <div class="card border-0 shadow-sm">
            <div class="list-group list-group-flush rounded">
                {% for conceito in conceitos %}
                    <a href="/conceitos/{{conceito}}" class="list-group-item list-group-item-action py-3 fs-4 fw-semibold text-capitalize ps-4">{{conceito}} </a>
                {% endfor%}
            </div>
        </div>
    </div>
    <!--divisao dos conceitos em paginas-->
    <nav aria-label="Navegação das páginas" class="mt-5">
        <ul class="pagination justify-content-center flex-wrap">

            <li class="page-item {{ 'disabled' if pagina_atual == 1 }}">
                <a class="page-link" href="{{ url_for('listar_conceitos', pagina=pagina_atual - 1, letra=letra_ativa) }}">Anterior</a>
            </li>

            {% for p in range(1, total_paginas + 1) %}
                {% if p == 1 or p == total_paginas or (p >= pagina_atual - 2 and p <= pagina_atual + 2) %}
                    <li class="page-item {{ 'active' if p == pagina_atual }}">
                        <a class="page-link" href="{{ url_for('listar_conceitos', pagina=p, letra=letra_ativa) }}">{{ p }}</a>
                    </li>
                {% elif p == pagina_atual - 3 or p == pagina_atual + 3 %}
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                {% endif %}
            {% endfor %}

            <li class="page-item {{ 'disabled' if pagina_atual == total_paginas }}">
                <a class="page-link" href="{{ url_for('listar_conceitos', pagina=pagina_atual + 1, letra=letra_ativa) }}">Seguinte</a>
            </li>

        </ul>
    </nav>
{% endblock %}
