{% extends 'layout.html' %}

{% block head %}
    <title> Home page </title>
{% endblock %}


{% block body %}
    
    <div class="homepage py-5" style="min-height: 250px; " >
        <div class="container text-white text-center">
            <h2 class="mb-4">O que é um Dicionário Médico?</h2>
            
            <p class="lead">
                Um dicionário médico é uma ferramenta de referência essencial que traduz a complexa linguagem da medicina e das ciências da saúde para termos claros e acessíveis.
            </p>
            
            <p class="fs-5">
                O nosso objetivo é desmistificar conceitos sobre doenças, anatomia, sintomas e tratamentos. Quer seja estudante, profissional de saúde ou simplesmente alguém que procura compreender melhor um diagnóstico clínico, este dicionário serve para o ajudar a pesquisar e a interpretar a terminologia técnica com confiança e rigor.
        </div>
    </div>
    
{% endblock %}
